In [ ]:
import sys
import os
import pandas as pd 
import datetime as dt
# Adiciona a pasta raiz do projeto (onde está a pasta src) ao sys.path
sys.path.append(os.path.abspath(os.path.join("..")))
from src.etl.webscrapping import gerar_tabela_cotacao_diaria_ibovespa

In [23]:
tbl_carteira_ibovespa = pd.read_csv("../data/external/tbl_acoes_ibovespa_corrigido.csv", sep=';')
tbl_carteira_ibovespa['ticker'] = tbl_carteira_ibovespa['codigo'] + '.SA'
tbl_carteira_ibovespa.to_csv("../data/external/tbl_acoes_ibovespa.csv", sep=';', index=False)
tbl_carteira_ibovespa.head()

,codigo,tipo,empresa,slug,setor,industria,ticker
0,ABEV3,ON,Ambev S/A,ambev-abev3,Consumo não-cíclico,Bebidas,ABEV3.SA
1,ALOS3,ON,Allos,alos3,Imóveis,Atividades Imobiliárias,ALOS3.SA
2,ASAI3,ON,Assaí­ Atacadista,assai-asai3,Consumo não-cíclico,Varejo de alimentos e medicamentos,ASAI3.SA
3,AURE3,ON,Auren,auren-energia-aure3,Utilidades,Empresas independentes e concessionárias elétr...,AURE3.SA
4,AZZA3,ON,Azzas 2154,azzas-2154-azza3,Consumo cíclico,Varejistas especializados,AZZA3.SA

In [29]:
# teste de execução da função de raspagem dos dados

tbl_carteira_ibovespa = pd.read_csv("../data/external/tbl_acoes_ibovespa.csv", sep=';')
gerar_tabela_cotacao_diaria_ibovespa(lista_acoes = tbl_carteira_ibovespa['ticker'], 
                                     data_cotacao= dt.date.today() ,periodo='1d')

2025-07-30 19:52:08,380 | INFO | src.etl.websrapping | Iniciando o processo de captação dos dados.
c:\Users\ederr\Documents\PROJETOS_PYTHON\projetos_fiap\Fase_2\etl-aws\src\etl\websrapping.py:61: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  tbl_cotacao_diaria = pd.concat(lista_df)
2025-07-30 19:53:50,530 | INFO | src.etl.websrapping | Ações capturadas com sucesso. Dataset final: 84 linhas.

,ticker,Open,High,Low,Close,Volume,Dividends,Stock Splits,trailingPE,priceToBook,returnOnEquity,profitMargins,revenueGrowth,dividendYield,totalDebt,freeCashflow
data_cotacao,,,,,,,,,,,,,,,,
2025-07-30,ABEV3.SA,13.20,13.390000,13.080000,13.150000,25795300,0.0,0.0,14.450548,2.176792,0.16240,0.15742,0.110,7.00,3218170112,18302226432
2025-07-30,ALOS3.SA,21.15,21.799999,21.139999,21.420000,4407000,0.0,0.0,13.304348,0.798509,0.06593,0.30534,0.007,5.66,6455017984,855961344
2025-07-30,ASAI3.SA,9.51,9.810000,9.490000,9.760000,16528600,0.0,0.0,16.000000,2.444278,0.16384,0.01099,0.077,1.12,25693999104,-144307008
2025-07-30,AURE3.SA,9.23,9.550000,9.230000,9.440000,3014300,0.0,0.0,157.333330,0.744421,0.00539,0.00060,1.113,0.62,26161764352,504947872
2025-07-30,AZZA3.SA,35.41,37.250000,35.279999,36.720001,785600,0.0,0.0,14.806452,0.971454,0.07151,0.03863,1.515,6.17,4073274880,-1987710976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-07-30,CPLE6.SA,11.70,12.050000,11.650000,11.900000,12595100,0.0,0.0,15.063291,1.344937,0.09577,0.12729,0.088,5.19,19138037760,-4095745536
2025-07-30,TIMS3.SA,19.65,20.190001,19.650000,20.010000,5394900,0.0,0.0,14.091550,1.980012,0.13872,0.13331,0.049,6.60,15795061760,6524463616
2025-07-30,VAMO3.SA,3.87,4.040000,3.840000,3.930000,11317500,0.0,0.0,6.661017,1.687420,0.17202,0.06173,0.236,15.18,16508325888,2585804288
2025-07-30,VBBR3.SA,20.98,21.799999,20.969999,21.770000,12256500,0.0,0.0,3.936709,1.180266,0.32902,0.03488,0.133,11.31,26616999936,3083249920
2025-07-30,VIVA3.SA,24.57,25.400000,24.129999,25.299999,3733800,0.0,0.0,8.135048,2.276818,0.31979,0.27443,0.208,2.69,1063061696,-336666272